<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="padding: 30px;">
        <h1 style="color: rgb(106, 24, 24);">Cerro’s Shop</h1>

        <h2><strong>DESCARGO DE RESPONSABILIDAD</strong></h2>

        <h3>AL ACCEDER A ESTE SITIO SE INTERPRETARÁ COMO SU ACEPTACIÓN A
            LOS SIGUIENTES TÉRMINOS Y CONDICIONES DE USO. LE PEDIMOS LEA
            ATENTAMENTE ANTES DE USAR ESTE SITIO.</h3>

        <h2><strong>Manifestaciones de Deslinde de Responsabilidad</strong></h2>

        <p>Cerro’s Shop ofrece este sitio web como servicio a sus clientes y a la comunidad de
            Internet. Cerro’s Shop podría modificar y actualizar los términos y condiciones que
            contiene el Aviso de Ley en cualquier momento y sin otorgar previa notificación.
            Cerro’s Sho utilizará esfuerzos razonables para incluir información precisa, relevante
            y actualizada en este sitio web, sin embargo, Cerro’s Shop no manifiesta ni realiza
            declaraciones o afirmaciones de ningún tipo, en forma expresa o implícita, en cuanto
            a la validez, lo correcto, la vigencia u otra característica de la información
            (incluyendo software, texto o productos) que ofrece este sitio web o que se
            encuentran en los vínculos a sitios externos, incluyendo garantías de
            comerciabilidad, no violación a derechos de propiedad intelectual, derechos de
            terceros, titularidad, defecto latente, servicio ininterrumpido, idoneidad para algún fin
            en particular o ausencia de virus computacionales. Cerro’s Shop ni sus consejeros,
            funcionarios, empleados o representantes por ningún motivo serán responsables ni
            culpables por reclamaciones, pérdidas o daños sean directos, especiales, indirectos
            o consecuenciales que resulten por la interpretación, el uso incuestionable o
            cualquier otro tipo de uso autorizado o no, de dicha información incluyendo, de
            manera enunciativa mas no limitativa, daños por pérdida de ingresos, pérdida o
            daño a información, costos u otras pérdidas comerciales o económicas sea con
            base en contrato, agravio o cualquier otra teoría de responsabilidad que tenga su
            origen (1) en el hecho que usted haya accedido, use, confíe, no pueda usar o haga
            mal uso de este sitio web o cualquier material que contenga el sitio web, (2)
            cualquier uso o incapacidad para usar materiales, software, contenido, bienes o
            servicios que se encuentren o que se presenten en cualquier sitio web que esté
            vinculado hacia o desde este sitio web o cualquier consecuencia que emane de ello,
            (3) cualquier imprecisión u omisión en la información que contiene este sitio web o la
            omisión a mantener la información al día, (4) cualquier software de Internet que se
            utilice en relación con este sitio web o virus computacionales u otros programas
            dañinos que se encuentren como resultado del uso de este sitio web y (5) cualquier
            otro asunto relacionado con este sitio web. Los límites anteriores se aplicarán
            incluso si Cerro’s Shop recibe notificación respecto a la posibilidad de que existan
            dichos daños, pérdidas o gastos. Ciertas jurisdicciones prohíben la exclusión de
            garantías implícitas por lo que la exclusión anterior podría no aplicar a su caso en
            particular. La información puede cambiar o ser actualizada sin dar aviso.
            </p>

        <h2><strong>El Sitio Web se ofrece sólo como servicio.</strong></h2>
        <p>Este sitio Web y el material que aquí se encuentra solo se ofrecen para bienes
            informativos. Toda decisión o medida que esté fundada en la información que aquí
            se encuentra o en cualquier otro sitio que se vincule a este sitio web será absoluta
            responsabilidad del visitante. Ninguno de los materiales que contiene este sitio web
            tiene como fin ni constituye una oferta o convocatoria de valores por parte de
            Cerro’s Shop ni de sus filiales o asociaciones en ninguna jurisdicción. Los
            documentos de divulgación frecuente tales como los Informes Anuales y
            Trimestrales constituyen una divulgación obligada de conformidad con las leyes de
            sociedades mercantiles, civiles y de valores de aquellas jurisdicciones que aplican a
            Cerro’s Shop. La información que contiene este sitio web no tiene como fin
            modificar, calificar, complementar o modificar la información que se divulga de
            conformidad con las leyes societarias y de valores de alguna jurisdicción que aplica
            a Cerro’s Shop y Cerro’s Shop no realiza ningún compromiso y se descarga de
            cualquier obligación a actualizar dichos documentos y materiales excepto tal y como
            lo requiera la ley. La información en este sitio web no debe ser utilizada para el fin
            de tomar decisiones de inversión respecto a los valores de Cerro’s Shop.</p>
        <h2><strong>Propiedad Intelectual</strong></h2> 
        <h3>Todo el material en este sitio web pertenece a Cerro’s Shop o a terceros y está
            protegido de conformidad con las leyes de derechos de autor y de marca registrada
            de Canadá o de otras jurisdicciones aplicables. Los materiales tales como texto,
            fotografías y otras imágenes y sonido que se encuentren en este sitio web están
            protegidos por derechos de autor y/u otros derechos de propiedad intelectual. Todos
            los derechos de autor y otros derechos de propiedad intelectual en este material son
            propiedad de Cerro’s Shop o han sido otorgados en licencia a Cerro’s Shop por lo
            que ésta puede usar este material para este sitio web. El material que se encuentra
            en este sitio web no podrá ser reproducido, publicado, transmitido o distribuido sin
            permiso por escrito de Cerro’s Shop. Cerro’s Shop, sin embargo, permitirá que los
            visitantes del sitio web obtengan una sola copia de los materiales que aquí se
            publican para su uso particular no comercial siempre que no se modifique el material
            y que no se eliminen los avisos de derechos de autor, marca registrada y
            patrimoniales.</h3>

            <h3>Excepto tal y como se estipule de otra forma, las marcas registradas, las marcas de
            servicio, los logotipos, los íconos, los diseños, los nombres y nombres comerciales
            que se visualizan en este sitio web son marcas registradas y logotipos de Cerro’s
            Shop y no podrán ser utilizados en ninguna forma ni para ningún fin sin el
            consentimiento por escrito de Cerro’s Shop. El consentimiento por escrito también
            se requiere cuando se intente usar las marcas registradas de terceros que se
            encuentran en este sitio. Para fines de claridad, no se otorga en este sitio web
            ninguna licencia para usar ninguna marca u otros nombres de Cerro’s Shop ni de
            terceros.</h3>

            <h3>Cualquier uso no autorizado de los materiales que contiene este sitio web
            incluyendo re-publicación, descarga no autorizada, retransmisión, copiado,
            modificación u otra forma de explotación de este sitio web o de la información que
            aquí contiene podría violar leyes de marcas registradas y otras leyes de propiedad
            intelectual que pudiesen resultar en acción judicial. Además, usted no podrá vincular
            o enmarcar este sitio web sin el previo consentimiento por escrito de Cerro’s Shop.
            Cerro’s Shop y sus filiales se descargan de responsabilidad respecto a cualquier
            responsabilidad que pudiese originarse por la reproducción o uso no autorizado de
            la información que contiene este sitio web.
            Todo visitante de este sitio que ofrezca información (incluyendo información de
            retroalimentación, dudas, comentarios o sugerencias) a Cerro’s Shop conviene que
            Cerro’s Shop no estará obligada en ninguna medida con respecto a dicha
            información y estará en libertad de reproducirla, usarla, divulgar y distribuirla a
            terceros sin limitación. Además, Cerro’s Shop estará en libertad de usar ideas,
            conceptos, conocimientos técnicos o técnicas que contenga dicha información para
            cualquier fin incluyendo de manera enunciativa más no limitativa, el desarrollo, la
            fabricación y la comercialización de productos que incorporen dicha información.
            Dicha información, tal y como la proporcione el visitante, se considerará información
            no confidencial. Toda información que usted envíe a Cerro’sShop.com deberá ser
            veraz, legal y no violará derechos de terceros, y su información será protegida de
            conformidad con las leyes mexicanas que rigen el acceso y manejo de información
            así como la autoridad que lo regula el IFAI.</h3>
           <h2><strong>Vínculos a Sitios Web externos</strong> </h2>
           <h3>Este sitio web contiene vínculos a sitios de terceros. Estos vínculos se ofrecen
            únicamente como conveniencia de los usuarios de este sitio web y no constituye un
            endoso de Cerro’s Shop al contenido de dichos sitios de terceros. Cerro’s Shop no
            contarla los sitios web vinculados ni les monitorea o investiga como tampoco verifica
            ni endosa la exactitud, la confiabilidad, la integridad, la calidad o la integridad de los
            datos, la información u otros materiales que se encuentren en dichos sitios web ni
            Cerro’s Shop realiza declaraciones respecto a las prácticas de privacidad, el
            contenido o la precisión de los materiales que ahí se encuentren. Cerro’s Shop no
            asume responsabilidad por dichos sitios web vinculados ni por su contenido. Los
            vínculos a este sitio web también podrían encontrarse en otros sitios conocidos o
            desconocidos para Cerro’s Shop. Todo uso de los sitios web vinculados hacia o
            desde este sitio web y su contenido es a su absoluto riesgo.</h3>
            <h2><strong>Software, Internet y Virus Computacionales</strong></h2>
            <h3>En virtud de las dificultades técnicas inherentes en Internet, el software de Internet o
                problemas de transmisión podrían producir copias imprecisas o incompletas del
                material que contiene este sitio web al ser visualizado o descargado a su
                computadora. En forma no intencional se podrían descargar virus computacionales
                u otros programas destructivos a su computadora. Cerro’s Shop no será
                responsable por software de internet, virus computacionales o programas
                destructivos y recomienda que usted instale un antivirus u otro software de
                protección adecuados</h3>
            <h2><strong>Información a futuro</strong></h2>
            <h3>Este sitio web puede contener cierta información a futuro que está sujeta a riesgos e
                incertidumbre importantes. Para identificar dicha información a futuro se utilizan
                palabras tales como “anticipar”, “esperar”, “creer”, “podría”, “debería”, “estimar”,
                “proyectar”, “panorama”, “pronóstico” o palabras con significado similar. El objeto de
                las declaraciones a futuro en este sitio es que los tenedores de valores de Cerro’s
                Shop y los inversionistas potenciales tengan información respecto a los planes y
                pronósticos financieros y de operaciones futuras de Cerro’s Shop y de sus
                subsidiarias. Entre las declaraciones a futuro en este documento podríamos
                encontrar, entre otras, declaraciones respecto a los prospectos de negocios
                previstos y desempeño financiero de Cerro’s Shop y sus subsidiarias, expectativas o
                proyecciones futuras y estrategias y metas de crecimiento y expansión. Todas las
                declaraciones a futuro reflejan las creencias y los supuestos de Cerro’s Shop con
                base en la información que existe al momento en que se realizan las declaraciones.
                Los resultados reales podrían ser diferentes a lo que se predice en dichas
                declaraciones a futuro. Los factores que pudiesen provocar que los resultados o
                sucesos reales sean diferentes en forma importante a las expectativas actuales
                incluyen, entre otras, la capacidad de Cerro’s Shop a implementar en forma exitosa
                sus iniciativas estratégicas y si dichas iniciativas estratégicas producirán los
                beneficios, el desempeño operativo de los ductos y activos energéticos de Cerro’s
                Shop, la disponibilidad y el precio de la energía, los pagos de capacidad, los
                procesos regulatorios y las decisiones, los cambios en las leyes y reglamentos
                ambientales y de otra naturaleza, factores competitivos en los sectores de ductos y
                energía, construcción y culminación de proyectos de capital, costos de mano de
                obra, equipo y materiales, acceso a mercados de capital, tasas de intereses y tipos
                de cambio, desarrollos tecnológicos y las condiciones económicas actuales de
                América del norte. Por su naturaleza, la información a futuro está sujeta a diferentes
                riesgos e incertidumbres que pudieran provocar resultados y experiencias reales de
                Cerro’s Shop diferentes en forma importante a los resultados previstos o las
                expectativas expresadas. Los informes que Cerro’s Shop presenta ante los
                reguladores de valores de Canadá y ante la Comisión de Bolsa y Valores (SEC) de
                EE.UU. contienen información adicional respecto a estos factores y otros. Se invita
                al lector a no confiar ciegamente en dicha información a futuro que se divulga a la
                fecha en la que se expresa en este sitio web o de otra forma, y a no usar
                información con vistas al futuro ni proyectos financieros para otra cosa que no sea
                su fin intencionado. Cerro’s Shop no asume obligación alguna a actualizar en forma
                pública o revisar información a futuro sin importar si ello es resultado de información
                nueva, sucesos futuros o cualquier otra cosa, excepto tal y como lo exige la ley.
                </h3>
                <h3>Todos los montos en numerario que contiene este sitio web son montos en dólares
                    de Canadá excepto cuando se indique otra cosa.</h3>




</body>
</html>