<div class="container">
    <h1>
      Inicio de sesion
    </h1>
    <img src="../assets/img/WhatsApp Image 2022-10-27 at 12.26.28 PM.jpeg" alt="" class="logo">
    <form action="">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password">
    </div>

    <button class="boton-inicio">Inicio Sesion</button>
    <br>
    <a href="" class="registro">Registro</a>
    </form>
</div>