
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1 style="color: white; size:25px; text-align: center;"> conceptos de criptografia</h1>
    
    <br>
    <main role="main">
     
        <article class="card-50">
          <figure>
            <a href="" title="Buy">
            <span class="ribbon-buy">
            CS
          </span>
            <img src="https://th.bing.com/th/id/OIP.2pkSnp3efSU5MiLVIP0dkQHaEo?pid=ImgDet&rs=1" alt="Nike Shoes">
            </a>
          </figure>
          <!-- end figure-->
          <div class="flex-content">
             <h2>
                Criptografía Simétrica.
          </h2>
             <p class="user">
                <a class="button" href="#" title="Buy">
                CS
              </a>
               
            <ul>
              <li>
                <strong title="Type">tipo de clave:</strong>
                  simetrica
              </li>
                      <li><strong title="availability">año de creación:</strong> 1977</li>
                      
                    </ul>
             <p>
                La criptografía de clave simétrica (en inglés symmetric key cryptography),
                  es un método criptográfico en el cual se usa una misma clave para cifrar y descifrar mensajes en el emisor y el receptor. 
    
          
          </div>
          <!-- end .flex-content-->
        </article>






        <article class="card-50">
            <figure>
              <a href="" title="Buy">
              <span class="ribbon-buy">
              CS
            </span>
              <img src="https://th.bing.com/th/id/R.d013f7392e1dc197984882286865842b?rik=zyWHutyhCdWvYA&riu=http%3a%2f%2fblog.pleets.org%2fimg%2farticles%2f17_1.png&ehk=Q6AUfjRohaH4ACYUG7FhTY1ljxIcAgUSGH14GdTZjuc%3d&risl=&pid=ImgRaw&r=0" alt="Nike Shoes">
              </a>
            </figure>
            <!-- end figure-->
            <div class="flex-content">
               <h2>
                  Criptografía Simétrica.
            </h2>
               <p class="user">
                  <a class="button" href="#" title="Buy">
                  CS
                </a>
                 
              <ul>
                <li>
                  <strong title="Type">tipo de clave:</strong>
                    asimetrica
                </li>
                        <li><strong title="availability">año de creación:</strong> 1976</li>
                        
                      </ul>
               <p>
                Este método de cifrado posee varios nombres, pero su función es la misma: Proteger los archivos y el intercambio de mensajes privados de los accesos no autorizados. 
                En definitiva, estamos ante una de los tipos de criptografía más potentes y seguros creados hasta la fecha. 
        
            
            </div>
            <!-- end .flex-content-->
          </article>
  
        
      </main>
</body>
</html>
