<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recomendaciones</title>
</head>
<body>
    <div class="container text-center">
        <h1 style="font-size: 80px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:#fbfbfb" >Recomendaciones</h1>
        </div>
        
        
        <div class="shell">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="wsk-cp-product">
                  <div class="wsk-cp-img">
                    <img src="https://art.pixilart.com/b150f38a1dc551c.gif" alt="Product" class="img-responsive" />
                  </div>
                  <div class="wsk-cp-text">
                    <div class="category">
                      <span>comprar</span>
                    </div>
                    <div class="title-product">
                      <h3>top 6 en ventas</h3>
                    </div>
                    
                    <div class="card-footer">
                      <div class="wcf-left"><span class="price">$11,500</span></div>
                      <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="wsk-cp-product">
                  <div class="wsk-cp-img"><img src="https://www.bing.com/th/id/OGC.9a71f0302de07e1251f27eede6acd8b0?pid=1.7&rurl=https%3a%2f%2fmedia1.giphy.com%2fmedia%2fdBs5oJXDrx5bJCxorU%2fsource.gif&ehk=F3uH9AuUGrbegPO0DE361jD%2b49FovU4iBN0LMHk6POc%3d" alt="Product" class="img-responsive" /></div>
                  <div class="wsk-cp-text">
                    <div class="category">
                      <span>comprar</span>
                    </div>
                    <div class="title-product">
                      <h3>top 6 de ventas</h3>
                    </div>
                  
                    <div class="card-footer">
                      <div class="wcf-left"><span class="price">$89</span></div>
                      <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="wsk-cp-product">
                  <div class="wsk-cp-img"><img src="https://media.giphy.com/media/kggN1E7kaezyKjD4IA/giphy.gif" alt="Product" class="img-responsive" /></div>
                  <div class="wsk-cp-text">
                    <div class="category">
                      <span>comprar</span>
                    </div>
                    <div class="title-product">
                        <h3>top 6 de ventas</h3>
                    </div>
                    
                    <div class="card-footer">
                      <div class="wcf-left"><span class="price">$18</span></div>
                      <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="wsk-cp-product">
                  <div class="wsk-cp-img"><img src="https://i.pinimg.com/originals/50/8c/1f/508c1fde19fda7df1ae09329f5753c89.gif" alt="Product" class="img-responsive" /></div>
                  <div class="wsk-cp-text">
                    <div class="category">
                      <span>comprar</span>
                    </div>
                    <div class="title-product">
                      <h3>top 6 de ventas</h3>
                    </div>
                    
                    <div class="card-footer">
                      <div class="wcf-left"><span class="price">$22</span></div>
                      <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="wsk-cp-product">
                  <div class="wsk-cp-img">
                    <img src="../../../assets/img/gif/refri1.gif" alt="Product" class="img-responsive" />
                  </div>
                  <div class="wsk-cp-text">
                    <div class="category" style="margin-top: -25%;">
                      <span>comprar</span>
                    </div>
                    <div class="title-product">
                      <h3>proximamente</h3>
                    </div>
                  
                    <div class="card-footer">
                      <div class="wcf-left"><span class="price">$$$$$</span></div>
                      <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="wsk-cp-product">
                  <div class="wsk-cp-img"><img src="../../../assets/img/gif/anillo.gif" alt="Product" class="img-responsive" /></div>
                  <div class="wsk-cp-text">
                    <div class="category">
                      <span>comprar</span>
                    </div>
                    <div class="title-product">
                      <h3>top 6 ventas</h3>
                    </div>
                    
                    <div class="card-footer">
                      <div class="wcf-left"><span class="price">$5000</span></div>
                      <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="wsk-cp-product">
                  <div class="wsk-cp-img"><img src="../../../assets/img/gif/play4.gif" alt="Product" class="img-responsive" /></div>
                  <div class="wsk-cp-text">
                    <div class="category" style="margin-top: -40%">
                      <span>comprar</span>
                    </div>
                    <div class="title-product">
                      <h3>top 6 ventas</h3>
                    </div>
                    <div class="card-footer">
                      <div class="wcf-left"><span class="price">$7500</span></div>
                      <div class="wcf-right"><a href="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</body>
</html>
