
        <h1 style="color: white; size:25px; text-align: center;"> Normas y estandares.</h1>
      <div class="container-fluid cards-row">
            <div class="container">
            <div class="row">
            
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://th.bing.com/th/id/R.be25ff2f381cacb0a138e0379fc911ee?rik=XjOYl%2b%2f3XoBGHg&pid=ImgRaw&r=0" />
                    <div class="caption">
                    <h2> ISO 27001.</h2>
                    <p>ISO 27001 es una norma internacional emitida por la Organización Internacional de Normalización (ISO) 
                        y describe cómo gestionar la seguridad de la información en una empresa.</p>
                    
                  </div>
                </div>
              </div>
              
                <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="../../../assets/img/bebidas/iso.jpg" />
                    <div class="caption">
                    <h2>ISO 17799</h2>
            <p>es un estándar obsoleto para la seguridad de la información adoptado por la Organización Internacional de Normalización (ISO) en 2000, el código de prácticas.</p>
                  </div>
                </div>
              </div>
              
                <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="../../../assets/img/bebidas/ws.jpg" style="height: 100px;">
                    <div class="caption">
                    <h2>COBIT</h2>
                    <p>COBIT (Control Objectives for Information and related Technology, Objetivos de control para la información y tecnologías relacionadas) es una metodología publicada en 1996 por el Instituto de Control de TI y la ISACA (Asociación de Auditoría y Control de Sistemas de Información).</p>

                  </div>
                </div>
              </div>


              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="https://1.bp.blogspot.com/-aFQ-W_KTFWQ/V6BdtpSUy6I/AAAAAAAAAH4/xD_U-BYItSsNvk1UGfROqLBzzU1h32oXQCLcB/s320/4-diwali-greeting-cards-by-ajay-acharya.jpg" alt="Bootstrap Thumbnail Customization">
                  <div class="caption">
                    <h2> NIST</h2>
                    <p> es una agencia de la Administración de Tecnología del Departamento de Comercio de los Estados Unidos. La misión de este instituto es promover la innovación y la competencia industrial 
                        en Estados Unidos mediante avances en metrología, normas y tecnología de forma que mejoren la estabilidad económica.</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="../../../assets/img/bebidas/qa.jpg" style="height: 180px;">
                    <div class="caption">
                        <h2> ITIL.</h2>
                        <p>es un conjunto de conceptos y buenas prácticas usadas para la gestión de servicios de tecnologías de la información, el desarrollo 
                            de tecnologías de la información y las operaciones relacionadas con la misma en general.</p>
                  </div>
                </div>
              </div>
              
            </div>
            </div>
            </div>
