<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
</head>
<body>
    


   <!-- Topic Cards -->
   <div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
          <h1 style="font-size: 80px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:#fbfbfb" >Categorias</h1>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a routerLink="/catalogo" routerLinkActive="active-link" href="/src/app/catalogo/catalogo.component.html">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://th.bing.com/th/id/OIP.DxiQR41i1qBsVIFl3908-QHaDt?pid=ImgDet&rs=1" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Electrodomesticos</h6>

                                <p>Ver mas.</p>
                              </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a routerLink="/catalogo" routerLinkActive="active-link" href="/src/app/catalogo/catalogo.component.html">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://th.bing.com/th/id/OIP.2K8_kjHFivsGPv2SaHrSPgHaE8?w=245&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="" />
                            </div>
                            <div class="text-container">                                    
                                <h6>bebidas</h6>
                                <p>Ver mas.</p>
                              </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a routerLink="/catalogo" routerLinkActive="active-link" href="/src/app/catalogo/catalogo.component.html">

                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://th.bing.com/th/id/OIP.VogNY-udF9gePKKDZ4pQZAHaDt?w=340&h=175&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="" />
                            </div>

                            <div class="text-container">
                                <h6>Consolas y videojuegos</h6>
                                <p>Ver mas.</p>
                              </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a routerLink="/catalogo" routerLinkActive="active-link" href="/src/app/catalogo/catalogo.component.html">

                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="https://th.bing.com/th/id/OIP.B6vwbOTpKY-UeETsCZAW9gHaFE?w=272&h=186&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Comida japonesa</h6>
                               <p>Ver mas.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


</body>
</html>