<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: white; size:25px; text-align: center;"> Aplicaciones de Firmas Digitales.</h1>

    <main role="main">

        <article class="card-50">
          <figure>
            <a href="" title="Buy">
            <span class="ribbon-buy">
            CS
          </span>
            <img src="https://th.bing.com/th/id/OIP.134LKH8HSE2TaLamyMO9oAHaEb?pid=ImgDet&rs=1" alt="Nike Shoes">
            </a>
          </figure>
          <!-- end figure-->
          <div class="flex-content">
             <h2>
                Aplicaciones de Firmas Digitales
          </h2>
             <p class="user">
                <a class="button" href="#" title="Buy">
                CS
              </a>


             <p>
                es una aplicación muy práctica con la que puedes firmar documentos de forma digital
                </p>


          </div>
          <!-- end .flex-content-->
        </article>



        <article class="card-50">
          <figure>
            <a href="" title="Buy">
            <span class="ribbon-buy">
            CS
          </span>
            <img src="https://vignette.wikia.nocookie.net/adobe/images/b/bf/Adobe_Sign_icon%2Bshadow.png/revision/latest?cb=20200107014948" alt="Nike Shoes">
            </a>
          </figure>
          <!-- end figure-->
          <div class="flex-content">
             <h2>
              Adobe Sign
          </h2>
             <p class="user">
                <a class="button" href="#" title="Buy">
                CS
              </a>


             <p>
              Adobe Sign es definitivamente una de las mejores aplicaciones para firmar documentos de esta lista. Puedes firmar documentos directamente desde Outlook, Microsoft Word y PowerPoint.
                </p>


          </div>
          <!-- end .flex-content-->
        </article>



        <article class="card-50">
          <figure>
            <a href="https://th.bing.com/th/id/R.867ecdf2abf703682448ed7debc58020?rik=%2fVi1BfyfjkUXJQ&riu=http%3a%2f%2fww1.prweb.com%2fprfiles%2f2012%2f11%2f15%2f12040439%2fsigneasy_logo_highresolution.png&ehk=%2fraCoaca56PQ4KDPv2hK1MYcDCE7dWuvS3f6Y5FOYSQ%3d&risl=&pid=ImgRaw&r=0" title="Buy">
            <span class="ribbon-buy">
            CS
          </span>
            <img src="https://th.bing.com/th/id/R.867ecdf2abf703682448ed7debc58020?rik=%2fVi1BfyfjkUXJQ&riu=http%3a%2f%2fww1.prweb.com%2fprfiles%2f2012%2f11%2f15%2f12040439%2fsigneasy_logo_highresolution.png&ehk=%2fraCoaca56PQ4KDPv2hK1MYcDCE7dWuvS3f6Y5FOYSQ%3d&risl=&pid=ImgRaw&r=0" alt="Nike Shoes">
            </a>
          </figure>
          <!-- end figure-->
          <div class="flex-content">
             <h2>
              SignEasy          </h2>
             <p class="user">
                <a class="button" href="#" title="Buy">
                CS
              </a>


             <p>
              SignEasy puede utilizarse para firmar documentos digitales a través de dispositivos o incluso remotamente. Solo tienes que importar los documentos de tu correo electrónico, nube o computadora. La aplicación fue premiada en 2016.
                </p>


          </div>
          <!-- end .flex-content-->
        </article>

        <article class="card-50">
          <figure>
            <a href="https://th.bing.com/th/id/R.867ecdf2abf703682448ed7debc58020?rik=%2fVi1BfyfjkUXJQ&riu=http%3a%2f%2fww1.prweb.com%2fprfiles%2f2012%2f11%2f15%2f12040439%2fsigneasy_logo_highresolution.png&ehk=%2fraCoaca56PQ4KDPv2hK1MYcDCE7dWuvS3f6Y5FOYSQ%3d&risl=&pid=ImgRaw&r=0" title="Buy">
            <span class="ribbon-buy">
            CS
          </span>
            <img src="https://abogadodigital.lat/wp-content/uploads/2021/03/isologo-1.gif" alt="Nike Shoes">
            </a>
          </figure>
          <!-- end figure-->
          <div class="flex-content">
             <h2>
              Webdox
             </h2>
             <p class="user">
                <a class="button" href="#" title="Buy">
                CS
              </a>


             <p>
              Webdox es una solución CLMS global, flexible y adaptable a todo tipo de contratos y áreas dentro de una empresa. Resuelve los procesos de pre-firma, firma y post-firma completamente, enfocándose en la eficiencia de los procesos y también en la correcta gestión contractual.
              </p>


          </div>
          <!-- end .flex-content-->
        </article>

        <article class="card-50">
          <figure>
            <a href="https://th.bing.com/th/id/R.867ecdf2abf703682448ed7debc58020?rik=%2fVi1BfyfjkUXJQ&riu=http%3a%2f%2fww1.prweb.com%2fprfiles%2f2012%2f11%2f15%2f12040439%2fsigneasy_logo_highresolution.png&ehk=%2fraCoaca56PQ4KDPv2hK1MYcDCE7dWuvS3f6Y5FOYSQ%3d&risl=&pid=ImgRaw&r=0" title="Buy">
            <span class="ribbon-buy">
            CS
          </span>
            <img src="https://www.comparasoftware.com/storage/app/contents/rfLU3qizLNOces533H5cBWa6A4ps7W1ibyUZxeBz.png" alt="Nike Shoes">
            </a>
          </figure>
          <!-- end figure-->
          <div class="flex-content">
             <h2>
              FAD
             </h2>
             <p class="user">
                <a class="button" href="#" title="Buy">
                CS
              </a>


             <p>
              FAD® es una firma sobre medios electrónicos, probada en juicios. Creada para cumplir con múltiples ordenamientos (NOM 151, Código civil, Código de comercio, etc). Fácil de usar e implementar, incluye modalidades de suscripción, paquetes de transacciones e integraciones especiales. Somos la firma más usada en el sector financiero en México.
              </p>


          </div>
          <!-- end .flex-content-->
        </article>

        <article class="card-50">
          <figure>
            <a href="https://th.bing.com/th/id/R.867ecdf2abf703682448ed7debc58020?rik=%2fVi1BfyfjkUXJQ&riu=http%3a%2f%2fww1.prweb.com%2fprfiles%2f2012%2f11%2f15%2f12040439%2fsigneasy_logo_highresolution.png&ehk=%2fraCoaca56PQ4KDPv2hK1MYcDCE7dWuvS3f6Y5FOYSQ%3d&risl=&pid=ImgRaw&r=0" title="Buy">
            <span class="ribbon-buy">
            CS
          </span>
            <img src="https://www.cincel.digital/wp-content/uploads/2020/12/cincel-portada-general.png" alt="Nike Shoes">
            </a>
          </figure>
          <!-- end figure-->
          <div class="flex-content">
             <h2>
              CINCEL
             </h2>
             <p class="user">
                <a class="button" href="#" title="Buy">
                CS
              </a>


             <p>
              Negocios que buscan digitalizar ágilmente sus procesos contractuales y contratos legales cumpliendo con el marco legal de México y Latinoamérica.
              </p>


          </div>
          <!-- end .flex-content-->
        </article>

        <article class="card-50">
          <figure>
            <a href="" title="Buy">
            <span class="ribbon-buy">
            CS
          </span>
            <img src="https://th.bing.com/th/id/OIP.Y6-zBuDQ0bun3sLl43vXmAHaFl?pid=ImgDet&rs=1" alt="Nike Shoes">
            </a>
          </figure>
          <!-- end figure-->
          <div class="flex-content">
             <h2>
                vista previa
          </h2>
             <p class="user">
                <a class="button" href="#" title="Buy">
                CS
              </a>


             <p>
              Vista Previa es la aplicación nativa de Mac OS para ver archivos PDF, editar imágenes y también para firmar documentos. Viene como una utilidad gratuita para los usuarios de computadoras Apple.                </p>


          </div>
          <!-- end .flex-content-->
        </article>

        <article class="card-50">
            <figure>
              <a href="" title="Buy">
              <span class="ribbon-buy">
              CS
            </span>
              <img src="https://i1.wp.com/opensourceforu.com/wp-content/uploads/2018/07/bt.jpg?fit=600%2C440&ssl=1" alt="Nike Shoes">
              </a>
            </figure>
            <!-- end figure-->
            <div class="flex-content">
               <h2>
                Blockchain.
            </h2>
               <p class="user">
                  <a class="button" href="#" title="Buy">
                  CS
                </a>


               <p>
                es una etiqueta que a través de una estructura de datos cuya información se agrupa en conjuntos (bloques) a los que se les añade metainformaciones relativas a otro bloque de la cadena anterior en una línea temporal para hacer un seguimiento seguro a través de grandes cálculos criptográficos.
                  </p>


            </div>
            <!-- end .flex-content-->
          </article>



      </main>

</body>
</html>
