<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>cerro's shop</h4>
                                <span>1010 Avenue, sw 54321, chandigarh</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>llama</h4>
                                <span>449-123-45-67</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>correo</h4>
                                <span>cerrosShop@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img  style="width: 130px;" src="../../../assets/img/logo..png" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-social-icon">
                                <span>redes sociales</span>
                                <a href="https://es-la.facebook.com/"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="https://www.google.com/intl/es-419/gmail/about/"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Links</h3>
                            </div>
                            <ul>
                                <li> <a routerLink="/home" routerLinkActive="active-link" href="">Home</a></li>
        <li>  <a  routerLink="/privacidad" routerLinkActive="active-link">privacidad</a></li>
        <li> <a routerLink="/deslinde" routerLinkActive="active-link" href="">Deslinde</a></li>
        <li> <a routerLink="/normas" routerLinkActive="active-link" href="">normas y estandares</a></li>
        <li>  <a routerLink="/criptografia" routerLinkActive="active-link" href="">Conceptos de Criptografía</a></li>
        <li> <a routerLink="/aplicaciones" routerLinkActive="active-link" href="">Aplicaciones de cifrado</a></li>
          <li>  <a routerLink="/protocolo" routerLinkActive="active-link" href=""> Protocolos</a></li>
          <li>  <a  routerLink="/integtridad" routerLinkActive="active-link" href="" >Integridad de la Información</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>envio de correos</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>manda tu correo para promociones</p>
                            </div>
                            <div class="subscribe-form" >
                                <form action="#">
                                    <input  type="text" placeholder="Email Address">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2022, All Right Reserved <a href="https://codepen.io/anupkumar92/"></a></p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a routerLink="/home" routerLinkActive="active-link" href="#" >Home</a></li>
                                <li><a routerLink="/catalogo" routerLinkActive="active-link" >catalogo</a></li>
                                <li><a routerLink="/recomendaciones" routerLinkActive="active-link">recomendaciones</a></li>
                                <li><a routerLink="/contacto" routerLinkActive="active-link">contacto</a></li>
                                <li><a routerLink="/somos" routerLinkActive="active-link">¿quienes somos?</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  
 
</body>
</html>