<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1 style="color: white; size:25px; text-align: center;"> Aplicaciones de cifrado.</h1>
    <div class="main">
        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://th.bing.com/th/id/OIP.u_IpyjdyBv5TZDiXre8-zQHaDm?pid=ImgDet&rs=1" alt="mixed vegetable salad in a mason jar. "></div>
              <div class="card_content">
                <h2 class="card_title"> &#x2022; BitLocker</h2>
                <div class="card_text">
                  <p>BitLocker es una aplicación de cifrado de disco. esta diseñada para proteger los datos e impedir el acceso no autorizado a cualquier archivo almacenado en la unidad cifrada mediante una clave de 128 bits</p>
                  
                  <a class="btn" href="https://www.microsoft.com/en-us/download/details.aspx?id=48698" style="border-color: black;" >descargar</a>
                </div>
              </div>
            </div>
          </li>
      
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://th.bing.com/th/id/R.b4e1f652211e533922514f7228b1929a?rik=4Vw7PJM5Edp1GQ&pid=ImgRaw&r=0" alt="a Reuben sandwich on wax paper. "></div>
              <div class="card_content">
                <h2 class="card_title"> Cryptii  &#x2022; </h2>
                <div class="card_text">
                  
                  <p>Cryptii es una aplicación web OpenSource bajo licencia MIT donde puedes convertir, codificar y decodificar contenido entre sistemas de diferentes formatos. Esto sucede completamente en su navegador usando JavaScript, ningún contenido será enviado a ningún tipo de servidor. Además, puede descargar y usar esta aplicación web sin conexión como se describe a continuación. 
                    Cualquier comentario apreciado, solo déjame un tweet o contribuye a este proyecto.</p>
                  <p>

                    <a class="btn" href="https://sourceforge.net/projects/cryptii.mirror/" style="border-color: black;" >descargar</a>

                </div>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://th.bing.com/th/id/OIP.pM4N4k5cPGpzktRP5-h65AHaC7?pid=ImgDet&rs=1" alt="A side view of a plate of figs and berries. "></div>
              <div class="card_content">
                <h2 class="card_title"> &#x2022; Cryptomator</h2>
                <div class="card_text">
             
                  <p>Cryptomator es una herramienta que cifra tus archivos y te permite sincronizarlos entre dispositivos a través de la nube o unidades USB de manera segura.</p>
                  
                  <a class="btn" href="https://cryptomator.org/downloads/" style="border-color: black;" >descargar</a>

                </div>
              </div>
            </div>
          </li>
        </ul>

        <br>

        <ul class="cards">
            <li class="cards_item">
              <div class="card">
                <div class="card_image"><img src="https://th.bing.com/th/id/R.661ef6a525682966c39ef5ac6e22d6cb?rik=P59Q%2f%2fhn0cB34A&pid=ImgRaw&r=0" alt="mixed vegetable salad in a mason jar. "></div>
                <div class="card_content">
                  <h2 class="card_title"> &#x2022; DiskCryptor</h2>
                  <div class="card_text">
                    <p>DiskCryptor es una herramienta gratuita que nos va a permitir cifrar particiones de disco en nuestro sistema Windows.</p>
                    
                    <a class="btn" href="https://diskcryptor.org/downloads/" style="border-color: black;" >descargar</a>
                  </div>
                </div>
              </div>
            </li>
        
            <li class="cards_item">
              <div class="card">
                <div class="card_image"><img src="https://th.bing.com/th/id/R.8bd43ea5c0f0950eabf0c70a79f59af4?rik=kb6GI9c%2b4HmE4w&pid=ImgRaw&r=0" alt="a Reuben sandwich on wax paper. "></div>
                <div class="card_content">
                  <h2 class="card_title"> Enigmail  &#x2022; </h2>
                  <div class="card_text">
                    
                    <p>Enigmail es una extensión adicional para Mozilla y Mozilla Thunderbird para las 
                        versiones que funcionan bajo los sistemas Microsoft Windows y de tipo Unix, como GNU/Linux.</p>
                    <p>
  
                      <a class="btn" href="https://www.enigmail.net/index.php/en/download" style="border-color: black;" >descargar</a>
  
                  </div>
                </div>
              </div>
            </li>
            <li class="cards_item">
              <div class="card">
                <div class="card_image"><img src="https://th.bing.com/th/id/R.4e8adb04b0d400f95386e23540165278?rik=ktI1%2bz6bb98czw&pid=ImgRaw&r=0" alt="A side view of a plate of figs and berries. "></div>
                <div class="card_content">
                  <h2 class="card_title"> &#x2022; WinRar</h2>
                  <div class="card_text">
               
                    <p> WinRAR es una versión del compresor RAR para Windows, una herramienta potente que le permite crear, manejar y controlar los ficheros de archivo. En la actualidad, existen varias versiones de RAR para varios sistemas operativos: Windows, Linux, FreeBSD, y macOS .</p>
                    
                    <a class="btn" href="https://www.win-rar.com/download.html?&L=6" style="border-color: black;" >descargar</a>
  
                  </div>
                </div>
              </div>
            </li>

            <li class="cards_item">
                <div class="card">
                  <div class="card_image"><img src="https://th.bing.com/th/id/R.d4541761a397256a156c83bcab43c359?rik=14FgjLoNvy2uCA&pid=ImgRaw&r=0" alt="A side view of a plate of figs and berries. "></div>
                  <div class="card_content">
                    <h2 class="card_title"> &#x2022; Whisply</h2>
                    <div class="card_text">
                 
                      <p> Whisply es una práctica aplicación web gratuita para el cifrado de archivos, antes de almacenarlos o compartirlos en Internet. Una herramienta imprescindible para los que se preocupan por su seguridad.</p>
                      
                      <a class="btn" href="https://appparapc.com/download/924979/22/" style="border-color: black;" >descargar</a>
    
                    </div>
                  </div>
                </div>
              </li>


          </ul>
      </div>

    
</body>
</html>