

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Bar</title>
</head>

<body>

  <header>
    <nav class="responsive">
      <div id="navbar">
        <div id="logo" class="reverse">
          <div class="mobile-btn" style="font-size:30px;cursor:pointer; font-weight:bold;" onclick="openNav()">&#9776;</div>
          <div class="logo">Cerro's <span>SH</span>OP</div>

        </div>
        <div id="links" style="font-size: 13px;">
          <a routerLink="/home" routerLinkActive="active-link" href="">Home</a>
          <a  routerLink="/privacidad" routerLinkActive="active-link">privacidad</a>
          <a routerLink="/deslinde" routerLinkActive="active-link" href="">Deslinde</a>
          <a routerLink="/normas" routerLinkActive="active-link" href="">normas y estandares</a>
          <a routerLink="/criptografia" routerLinkActive="active-link" href="">Conceptos de Criptografía</a>
          <a routerLink="/aplicaciones" routerLinkActive="active-link" href="">Aplicaciones de cifrado</a>
          <a routerLink="/protocolo" routerLinkActive="active-link" href=""> Protocolos</a>
          <a  routerLink="/integtridad" routerLinkActive="active-link" href="" >Integridad de la Información</a>

         
        </div>
      </div>

    </nav>
    <!-- Mobile Menu -->
    <div id="mySidenav" class="sidenav">
      <a style="cursor:pointer;" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">Home</a>
      <a href="#">Gallery</a>
      <a href="#">Blog</a>
      <a href="#">Portfolio</a>
      <a href="#">Contact</a>
    </div>
  </header>
  
  
 </body>

</html>




